<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/perfil.png" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Junior</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi </h1>
            <p>Me considero una persona seria, responsable y con muchas ganas de trabajar y de aprender, con capacidad
                de organización y dispuesta a trabajar en equipo.
                Poner en práctica todos mis conocimientos adquiridos durante mi formación y poder formar parte de un
                equipo de trabajo que me permita desarrollarme personal y profesionalmente

            </p>
        </span>
    </div>

</div>