<div class="row">
    <h1>Proyectos Realzados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Pagina web -obra social</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odio, aut fugiat maxime voluptates nihil magnam iusto laudantium et sapiente, blanditiis alias dolore? Veritatis nemo, nam at voluptas doloremque enim?</p>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset lg 1 parte2">
                <img src="../../../assets/img/proyecto1.jpg">

            </div>
        </div>

    </div>

</div>
