<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primaria </h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, quae fugit dolorum, repudiandae placeat voluptates amet dolorem perferendis eligendi distinctio recusandae aut ullam cum, error dolore accusantium ducimus! Rerum, similique.</p>
        </ul>

        <ul>
            <li>
                <h1>Secundaria</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, quae fugit dolorum, repudiandae placeat voluptates amet dolorem perferendis eligendi distinctio recusandae aut ullam cum, error dolore accusantium ducimus! Rerum, similique.</p>
        </ul>

        <ul>
            <li>
                <h1>Universitario</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, quae fugit dolorum, repudiandae placeat voluptates amet dolorem perferendis eligendi distinctio recusandae aut ullam cum, error dolore accusantium ducimus! Rerum, similique.</p>
        </ul>

    </div>

</div>

