<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios Primarios: Completos</h1> - <h3>(years)</h3>
            </li>
            <p>Escuela Dr. Roque Saeñz Peña N°295</p>
            <p>Provincia de Jujuy</p>
        </ul>

        <ul>
            <li>
                <h1>Estudios Secundarios: Completos</h1> - <h3>(years)</h3>
            </li>
            <p>Bachiller con Orientación en Administración</p>
            <p>Provincia de Jujuy</p>
        </ul>

        <ul>
            <li>
                <h1>Universitario</h1> - <h3>(years)</h3>
            </li>
            <p>3er Año de Analista Programador Universitario</p>
            <p>UNJu- Facultad de ingeniería</p>
        </ul>

        <ul>
            <li>
                <h1>Seminarios / Cursos</h1> - <h3>(years)</h3>
            </li>
            <p>2013- I Jornada de Herramientas Libres <br>
                2013- VI Jornada de Capacitación de Sicom Tecnología <br>
                2013- Jornada de Estudiantes de la carrera Analista Programador Universitario <br>
                2015-Jornada de Ciencias Informáticas y Tecnologías del NOA (secretaria) <br>
                2015-2016 Asistente Profesional en Diseño Grafico <br>
                2018-Trabaje en empresa de seguros para vehículos (secretaria y cajera)
            </p>
        </ul>


    </div>

</div>